<header class="header">
  <% if logged_in? %>
    <%= link_to 'logout', logout_path %>
  <% else %>
    <a href="/auth/twitter">login</a>
  <% end %>

  <%= link_to 'home', '/' %>
  <%= link_to 'user list', '/users/index' %>
  <%= link_to 'logout', logout_path %>
</header>

